@font-face {
  font-family: 'Film P3';
  src: url(../fonts/FilmP3-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-Light.ttf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Times New Roman';
  src: url(../fonts/TimesNewRoman-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Times New Roman';
  src: url(../fonts/TimesNewRoman-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
