
// COMMON COLORS

$colorAccentYellow: #F3C653; 
$colorBrown: #C79002; 
$colorWhite: #FFFFFF; 
$colorBlack: #000000; 


// TEXT COLORS

$colorTextPrimary: #5F5F5F;
$colorTextSecondary: #B4B4B4; 
$colorTextAddressHeader: #E5E5E5;
$colorTextHotel: #BABABA;
$colorTextMenu: #000000; 
$colorTextRooms: #7A7A7A; 

$colorTextAddressDesktop: #828282;
$colorTextAddressMobTab: #494848;
$colorTextModal: #808080; 


// LOGO COLORS 

$colorLogoWhite: #FFFFFF;
$colorLogoGray: #494848;


// BACKGROUNDS COLORS

$colorBgLemon: #FFFDEE; 
$colorBgDarkLemon: #F0ECD6; 
$colorBgHero: rgba(0, 0, 0, 0.65); 
$colorBgFooter: #0E0C07; 
$colorBgImage: #DADADA;


// BUTTONS COLORS 
$colorBtnTransparent: rgba(0, 0, 0, 0.4); 
$colorBtnBlack: #000000;
$colorBtnWhite: #FFFFFF;


// TRANSITION

$transDuration: 250ms;
$cubic: cubic-bezier(0.4, 0, 0.2, 1);