.room-for-2--section {
  position: relative;
}

.hotel-wrap-top {
  @include tablet {
    display: flex;
  }
}

.room-wrap-top {
  @include tablet {
    display: flex;
    flex-direction: column;
    margin-bottom: 174px;
  }

  @include desktop {
    margin-bottom: 188px;
  }
}

.hotel-logo {
  display: block;
  margin-bottom: 32px;

  @include tablet {
    @include font(700, 64px, 1.08, 0.3em);
    margin-bottom: 62px;
  }

  @include desktop {
    margin-bottom: 72px;
  }
}

.room-wrap-center {
  @include mobilemax {
    display: flex;
    justify-content: flex-end;
    margin-top: 32px;
  }

  @include tablet {
    position: absolute;
    right: 112px;
    top: -32px;
  }
}

.hotel-wrap-bottom {
  @include tablet {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.room-slider-thumb {
  overflow: hidden;
  @include mobilemax {
    margin-right: 115px;
  }
}

.room-slider {
  display: flex;
  flex-direction: row-reverse;
  gap: 16px;

  @include mobilemax {
    margin-top: 32px;
  }

  @include tablet {
    gap: 40px;
    max-width: 428px;
  }

  @include desktop {
    max-width: 548px;
  }
}

.room-wrap-bottom {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;

  @include mobilemax {
    margin-top: 32px;
  }
}

.hotel-link {
  display: flex;
  justify-content: center;
  align-items: center;
}
