.room-for-3 {
  background-color: $colorBgDarkLemon;
}

.room-for-3__container {
  display: flex;
  flex-direction: column;
}

.room-for-3__wrap {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.room-for-3__pre-title {
  margin-bottom: 8px;
}

.room-for-3__logo {
  margin-bottom: 32px;
}

.room-for-3__title {
  margin-bottom: 12px;
}

.room-for-3__after-title {
  margin-bottom: 32px;
}

.room-for-3__list {
}

.room-for-3__item {
}

.room-for-3__details {
}

.room-for-3__btn-price {
}
