.room-for-3 {
  background-color: $colorBgDarkLemon;
}

.room-for-3__container {
  position: relative;
}

.room-for-3__wrap {
  display: flex;
  flex-direction: column;
  align-items: end;
  @include desktop {
    margin-right: calc(142px - 85px);
  }
}

.room-for-3__pre-title {
  font-family: 'Times New Roman';
  @include font(400, 20px, 1.15, null);
  margin-bottom: 8px;
  color: $colorTextHotel;
  @include tablet {
    @include font(400, 32px, 1.16, null);
    margin-bottom: 4px;
  }
}

.room-for-3-logo__wrap {
  display: table;
  margin-left: auto;
  margin-bottom: 32px;
  @include tablet {
    margin-bottom: 62px;
  }
  @include desktop {
    margin-bottom: 72px;
  }
}

.room-for-3__logo {
  text-align: right;
  margin-right: -0.3em;
  color: $colorLogoGray;
  @include tablet {
    @include font(null, 64px, 1.08, null);
  }
}

.room-for-3__title {
  margin-bottom: 12px;
  @include tablet {
    margin-bottom: 16px;
    margin-right: calc(90px - 47px);
    @include font(null, 30px, 1.13, null);
  }
  @include desktop {
    margin-right: 0;
    margin-bottom: 24px;
    @include font(null, 36px, 1.14, null);
  }
}

.room-for-3__after-title {
  margin-right: calc(74px - 15px);
  width: 242px;
  margin-bottom: 32px;
  font-family: inherit;
  @include font(600, 12px, 1.25, 0.02em);
  @include tablet {
    width: 400px;
    margin-right: calc(67px - 47px);
    margin-bottom: 169px;
    @include font(null, 16px, null, null);
  }
  @include desktop {
    margin-right: calc(195px - 85px - 57px);
    margin-bottom: 188px;
  }
}

.room-for-3__list {
  @include tablet {
    position: absolute;
    top: -96px;
    left: 112px;
  }
  @include desktop {
    top: -104px;
    left: 180px;
  }
}

.room-for-3__living-room {
  margin-bottom: 32px;
  @include tablet {
    margin-bottom: 48px;
  }
}

.room-ror-3__slider-wrap {
  @include tablet {
    display: flex;
    flex-direction: row-reverse;
  }
}

.room-for-3__slider {
  margin-bottom: 72px;
  overflow: hidden;
  margin-left: 115px;
  @include tablet {
    margin-bottom: 0;
    margin-left: 266px;
  }
  @include desktop {
    margin-left: 326px;
  }
}

.room-for-3__bathroom {
  display: flex;
  gap: 16px;
  width: calc((194px + 16px) * 7);
  @include tablet {
    width: calc((194px + 40px) * 7);
    gap: 40px;
  }
  @include tablet {
    width: calc((254px + 40px) * 7);
  }
}

.room-for-3__svg {
  fill: $colorBlack;
  cursor: pointer;
  @include tablet {
    fill: $colorBlack;
  }
  @include desktop {
    fill: $colorTextModal;
  }
}

.room-for-3__left {
  margin-right: 34px;
  &:hover,
  &:focus {
    fill: $colorAccentYellow;
  }
}

.room-for-3__right {
  &:hover,
  &:focus {
    fill: $colorAccentYellow;
  }
}

.room-for-3-btn__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  @include tablet {
    margin-top: 0;
    justify-content: center;
  }
}

.room-for-3__details {
  display: inline-flex;
  align-items: center;
  padding: 14px 65px;
  background-color: $colorBtnBlack;
}

.room-for-3__btn-price {
  background-color: $colorBtnBlack;
}
