<section class="menu">
  <div class="menu__container container">
    <h2 id="menu-restaurant" class="menu__title hotel-title">Меню ресторану</h2>

    <table class="menu__table">
      <tbody class="menu__data">
        <tr>
          <th class="menu__dish-name" colspan="3">Гарячі страви</th>
        </tr>
        <tr>
          <td class="menu__column--dish">
            <h4 class="menu__dish">Борщ з телятини з квасолею</h4>
            <p class="menu__ingredients">
              Телятина, картопля, капуста, морква, цибуля, квасоля, часник,
              помідори, зелень, сметана
            </p>
          </td>
          <td class="menu__weight menu__column--weight">400 г</td>
          <td class="menu__price menu__column--price">240 грн</td>
        </tr>
        <tr>
          <td>
            <h4 class="menu__dish">Суп сирний з куркою</h4>
            <p class="menu__ingredients">
              Курятина, картопля, морква, цибуля, печериці, сир м’який, зелень
            </p>
          </td>
          <td class="menu__weight">400 г</td>
          <td class="menu__price">200 грн</td>
        </tr>
        <tr>
          <td>
            <h4 class="menu__dish">Паста карбонара</h4>
            <p class="menu__ingredients">
              Паста тальятеле, бекон, вершки, сир пармезан, яйце, зелень
            </p>
          </td>
          <td class="menu__weight">350 г</td>
          <td class="menu__price">430 грн</td>
        </tr>
        <tr>
          <td>
            <h4 class="menu__dish">Стейк зі свинини</h4>
            <p class="menu__ingredients">
              Свиняча вирізка, спеціі, подається з соусом солодкий чилі та
              овочами
            </p>
          </td>
          <td class="menu__weight">400 г</td>
          <td class="menu__price">500 грн</td>
        </tr>
        <tr>
          <td>
            <h4 class="menu__dish">Горбуша в соусі з білого вина</h4>
            <p class="menu__ingredients">
              Ніжна горбуша, вершковий соус на основі білого вина
            </p>
          </td>
          <td class="menu__weight">400 г</td>
          <td class="menu__price">400 грн</td>
        </tr>

        <tr>
          <th class="menu__dish-name" colspan="3">Гарніри та закуски</th>
        </tr>
        <tr>
          <td>
            <h4 class="menu__dish">Запечені овочі</h4>
            <p class="menu__ingredients">Кабачок, перець, помідор, баклажан</p>
          </td>
          <td class="menu__weight">200 г</td>
          <td class="menu__price">230 грн</td>
        </tr>
        <tr>
          <td>
            <h4 class="menu__dish">Картопля фрі</h4>
            <p class="menu__ingredients">Картопля, соус томатний</p>
          </td>
          <td class="menu__weight">150 г</td>
          <td class="menu__price">160 грн</td>
        </tr>
        <tr>
          <td>
            <h4 class="menu__dish">Картопля по-селянськи</h4>
            <p class="menu__ingredients">Картопля, спеції, соус пікантний</p>
          </td>
          <td class="menu__weight">150 г</td>
          <td class="menu__price">160 грн</td>
        </tr>
        <tr>
          <td>
            <h4 class="menu__dish">Хрумкі соління з бочки</h4>
            <p class="menu__ingredients">
              Огірок солений, помідор квашений, квашена капуста, морква
              по-корейські
            </p>
          </td>
          <td class="menu__weight">250 г</td>
          <td class="menu__price">350 грн</td>
        </tr>
        <tr>
          <td>
            <h4 class="menu__dish">Крильця курячі в медовому соусі</h4>
            <p class="menu__ingredients">
              Крильця курячі, гірчично-медовий соус, подається з морквою,
              селерою і соусом блючиз
            </p>
          </td>
          <td class="menu__weight">400 г</td>
          <td class="menu__price">420 грн</td>
        </tr>
      </tbody>

      <tbody class="menu__data">
        <tr>
          <th class="menu__dish-name" colspan="3">Салати</th>
        </tr>
        <tr>
          <td class="menu__column--dish">
            <h4 class="menu__dish">Цезар з куркою</h4>
            <p class="menu__ingredients">
              Куряче філе, листя салату, помідори чері, сир пармезан, грінки,
              соус цезар
            </p>
          </td>
          <td class="menu__weight menu__column--weight">230 г</td>
          <td class="menu__price menu__column--price">450 грн</td>
        </tr>
        <tr>
          <td>
            <h4 class="menu__dish">Цезар з креветками</h4>
            <p class="menu__ingredients">
              Тигрові креветки, листя салату, помідори чері, сир пармезан,
              грінки, соус цезар
            </p>
          </td>
          <td class="menu__weight">230 г</td>
          <td class="menu__price">300 грн</td>
        </tr>
        <tr>
          <td>
            <h4 class="menu__dish">Грецький салат</h4>
            <p class="menu__ingredients">
              Свіжі огірок, помідор, болгарський перець, оливки, сир бринза,
              листя салату, соус
            </p>
          </td>
          <td class="menu__weight">230 г</td>
          <td class="menu__price">280 грн</td>
        </tr>
        <tr>
          <td>
            <h4 class="menu__dish">М’ясний салат</h4>
            <p class="menu__ingredients">
              Куряче філе або свиняча вирізка, свіжі огірок, помідор,
              болгарський перець, соус ранч
            </p>
          </td>
          <td class="menu__weight">230 г</td>
          <td class="menu__price">300 грн</td>
        </tr>

        <tr>
          <th class="menu__dish-name" colspan="3">Десерти</th>
        </tr>
        <tr>
          <td>
            <h4 class="menu__dish menu__dish--short">Торт наполеон</h4>
          </td>
          <td class="menu__weight">230 г</td>
          <td class="menu__price">300 грн</td>
        </tr>
        <tr>
          <td>
            <h4 class="menu__dish menu__dish--short">Торт маковий</h4>
          </td>
          <td class="menu__weight">230 г</td>
          <td class="menu__price">300 грн</td>
        </tr>
        <tr>
          <td>
            <h4 class="menu__dish menu__dish--short">Тірамісу</h4>
          </td>
          <td class="menu__weight">120 г</td>
          <td class="menu__price">260 грн</td>
        </tr>

        <tr>
          <th class="menu__dish-name" colspan="3">Напої</th>
        </tr>
        <tr>
          <td>
            <h4 class="menu__dish menu__dish--short">Чай чорний/зелений</h4>
          </td>
          <td class="menu__weight">500 г</td>
          <td class="menu__price">100 грн</td>
        </tr>
        <tr>
          <td>
            <h4 class="menu__dish menu__dish--short">Еспресо</h4>
          </td>
          <td class="menu__weight">30 г</td>
          <td class="menu__price">100 грн</td>
        </tr>
        <tr>
          <td>
            <h4 class="menu__dish menu__dish--short">Американо</h4>
          </td>
          <td class="menu__weight">150 г</td>
          <td class="menu__price">100 грн</td>
        </tr>
        <tr>
          <td>
            <h4 class="menu__dish menu__dish--short">Капучино</h4>
          </td>
          <td class="menu__weight">200 г</td>
          <td class="menu__price">160 грн</td>
        </tr>
        <tr>
          <td>
            <p class="menu__dish menu__dish--short">Лате</p>
          </td>
          <td class="menu__weight">200 г</td>
          <td class="menu__price">160 грн</td>
        </tr>
      </tbody>
    </table>

    <div class="menu__wrap">
      <button class="menu__button btn btn--hotel-and-rest" type="button" data-modMenuTable-open>
        Забронювати столик
      </button>
    </div>
  </div>
</section>
