<section class="menu">
  <div class="menu__container container">
    <h2 class="menu__title hotel-title">Меню ресторану</h2>

    <table class="menu__table">
      <tbody>
        <tr>
          <th class="menu__subtitle" colspan="3">Гарячі страви</th>
        </tr>
        <tr>
          <td>
            <p class="menu__meal">Борщ з телятини з квасолею</p>
            <p class="menu__ingredients">
              Телятина, картопля, капуста, морква, цибуля, квасоля, часник,
              помідори, зелень, сметана
            </p>
          </td>
          <td class="menu__weight">400 г</td>
          <td class="menu__price">240 грн</td>
        </tr>
        <tr>
          <td>
            <p class="menu__meal">Суп сирний з куркою</p>
            <p class="menu__ingredients">
              Курятина, картопля, морква, цибуля, печериці, сир м’який, зелень
            </p>
          </td>
          <td class="menu__weight">400 г</td>
          <td class="menu__price">200 грн</td>
        </tr>
        <tr>
          <td>
            <p class="menu__meal">Паста карбонара</p>
            <p class="menu__ingredients">
              Паста тальятеле, бекон, вершки, сир пармезан, яйце, зелень
            </p>
          </td>
          <td class="menu__weight">350 г</td>
          <td class="menu__price">430 грн</td>
        </tr>
        <tr>
          <td>
            <p class="menu__meal">Стейк зі свинини</p>
            <p class="menu__ingredients">
              Свиняча вирізка, спеціі, подається з соусом солодкий чилі та
              овочами
            </p>
          </td>
          <td class="menu__weight">400 г</td>
          <td class="menu__price">500 грн</td>
        </tr>
        <tr>
          <td>
            <p class="menu__meal">Горбуша в соусі з білого вина</p>
            <p class="menu__ingredients">
              Ніжна горбуша, вершковий соус на основі білого вина
            </p>
          </td>
          <td class="menu__weight">400 г</td>
          <td class="menu__price">400 грн</td>
        </tr>
      </tbody>

      <tbody>
        <tr>
          <th class="menu__subtitle" colspan="3">Гарніри та закуски</th>
        </tr>
        <tr>
          <td>
            <p class="menu__meal">Запечені овочі</p>
            <p class="menu__ingredients">Кабачок, перець, помідор, баклажан</p>
          </td>
          <td class="menu__weight">200 г</td>
          <td class="menu__price">230 грн</td>
        </tr>
        <tr>
          <td>
            <p class="menu__meal">Картопля фрі</p>
            <p class="menu__ingredients">Картопля, соус томатний</p>
          </td>
          <td class="menu__weight">150 г</td>
          <td class="menu__price">160 грн</td>
        </tr>
        <tr>
          <td>
            <p class="menu__meal">Картопля по-селянськи</p>
            <p class="menu__ingredients">Картопля, спеції, соус пікантний</p>
          </td>
          <td class="menu__weight">150 г</td>
          <td class="menu__price">160 грн</td>
        </tr>
        <tr>
          <td>
            <p class="menu__meal">Хрумкі соління з бочки</p>
            <p class="menu__ingredients">
              Огірок солений, помідор квашений, квашена капуста, морква
              по-корейські
            </p>
          </td>
          <td class="menu__weight">250 г</td>
          <td class="menu__price">350 грн</td>
        </tr>
        <tr>
          <td>
            <p class="menu__meal">Крильця курячі в медовому соусі</p>
            <p class="menu__ingredients">
              Крильця курячі, гірчично-медовий соус, подається з морквою,
              селерою і соусом блючиз
            </p>
          </td>
          <td class="menu__weight">400 г</td>
          <td class="menu__price">420 грн</td>
        </tr>
      </tbody>

      <tbody>
        <tr>
          <th class="menu__subtitle" colspan="3">Салати</th>
        </tr>
        <tr>
          <td>
            <p class="menu__meal">Цезар з куркою</p>
            <p class="menu__ingredients">
              Куряче філе, листя салату, помідори чері, сир пармезан, грінки,
              соус цезар
            </p>
          </td>
          <td class="menu__weight">230 г</td>
          <td class="menu__price">450 грн</td>
        </tr>
        <tr>
          <td>
            <p class="menu__meal">Цезар з креветками</p>
            <p class="menu__ingredients">
              Тигрові креветки, листя салату, помідори чері, сир пармезан,
              грінки, соус цезар
            </p>
          </td>
          <td class="menu__weight">230 г</td>
          <td class="menu__price">300 грн</td>
        </tr>
        <tr>
          <td>
            <p class="menu__meal">Грецький салат</p>
            <p class="menu__ingredients">
              Свіжі огірок, помідор, болгарський перець, оливки, сир бринза,
              листя салату, соус
            </p>
          </td>
          <td class="menu__weight">230 г</td>
          <td class="menu__price">280 грн</td>
        </tr>
        <tr>
          <td>
            <p class="menu__meal">М’ясний салат</p>
            <p class="menu__ingredients">
              Куряче філе або свиняча вирізка, свіжі огірок, помідор,
              болгарський перець, соус ранч
            </p>
          </td>
          <td class="menu__weight">230 г</td>
          <td class="menu__price">300 грн</td>
        </tr>
      </tbody>

      <tbody>
        <tr>
          <th class="menu__subtitle" colspan="3">Десерти</th>
        </tr>
        <tr>
          <td>
            <p class="menu__meal">Торт наполеон</p>
          </td>
          <td class="menu__weight">230 г</td>
          <td class="menu__price">300 грн</td>
        </tr>
        <tr>
          <td>
            <p class="menu__meal">Торт маковий</p>
          </td>
          <td class="menu__weight">230 г</td>
          <td class="menu__price">300 грн</td>
        </tr>
        <tr>
          <td>
            <p class="menu__meal">Тірамісу</p>
          </td>
          <td class="menu__weight">120 г</td>
          <td class="menu__price">260 грн</td>
        </tr>
      </tbody>

      <tbody>
        <tr>
          <th class="menu__subtitle" colspan="3">Напої</th>
        </tr>
        <tr>
          <td>
            <p class="menu__meal">Чай чорний/зелений</p>
          </td>
          <td class="menu__weight">500 г</td>
          <td class="menu__price">100 грн</td>
        </tr>
        <tr>
          <td>
            <p class="menu__meal">Еспресо</p>
          </td>
          <td class="menu__weight">30 г</td>
          <td class="menu__price">100 грн</td>
        </tr>
        <tr>
          <td>
            <p class="menu__meal">Американо</p>
          </td>
          <td class="menu__weight">150 г</td>
          <td class="menu__price">100 грн</td>
        </tr>
        <tr>
          <td>
            <p class="menu__meal">Капучино</p>
          </td>
          <td class="menu__weight">200 г</td>
          <td class="menu__price">160 грн</td>
        </tr>
        <tr>
          <td>
            <p class="menu__meal">Лате</p>
          </td>
          <td class="menu__weight">200 г</td>
          <td class="menu__price">160 грн</td>
        </tr>
      </tbody>
    </table>

    <button class="menu__button button" type="button">
      Забронювати столик
    </button>
  </div>
</section>
