.amenities {

    &__section .container {
        background-color: $colorBgLemon;
        padding-top: 48px;
        padding-bottom: 48px;
    }

    &__section {
        @include mobimax {
            padding-top: 20px;
            padding-bottom: 20px;
        }

        @include mobile {
            padding-top: 32px;
            padding-bottom: 32px;
        }

        @include tablet {
            padding-top: 48px;
            padding-bottom: 40px;
        }

        @include desktop {
            padding-top: 48px;
            padding-bottom: 48px;

           
        }
    }


    &__title {
        font-family: "Times New Roman";
        font-weight: 400;
        font-size: 32px;
        line-height: 1.15;
        color: $colorBtnBlack;
        text-transform: uppercase;

        @media (max-width:413px) {
            text-align: center;
            margin-bottom: 12px;
        }

        @media (min-width:414px) {
            margin-bottom: 16px;
        }

        @media screen and (max-width: 400px) {
            font-size: 25px;
        }

    }

    &__discription {
        font-family: 'Montserrat';
        font-size: 16px;
        line-height: 1.25;
        font-weight: 700;
        color: $colorTextRooms;

        @include tablet {
            line-height: 1.21;
            width: 400px;

        }

        @media screen and (max-width: 400px) {
            font-size: 13px;
        }

    }

    &__subtitle {
        font-family: "TimesNewRoman";
        font-weight: 700;
        font-size: 24px;
        line-height: 1;
        color: $colorBlack;
        text-transform: uppercase;
        margin-top: 32px;
        margin-bottom: 16px;

        @include tablet {
            line-height: 1.15;

        }

        @media screen and (max-width: 400px) {
            font-size: 20px;
        }
    }

    &__box-second {
        @include mobimax {
            margin-top: 16px;
        }

        @include mobile {
            margin-top: 16px;
        }

        @include tablet {

            margin-top: 0;

        }


    }

    &__button {
        background-color: $colorBtnBlack;
        color: $colorBtnWhite;
        font-family: 'Montserrat';
        font-size: 20px;
        line-height: 1.2;
        text-transform: uppercase;

        border-radius: 25px;
        border: 1px solid $colorAccentYellow;
        display: flex;
        justify-content: center;
        align-items: center;
        white-space: nowrap;

       

        @include mobimax {
            font-size: 14px;
            padding: 15px 30px;
            width: 250px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 16px;
            margin-top: 16px;
        }

        @include mobile {
            width: 384px;
            height: 64px;
            margin-top: 32px;
            margin-bottom: 20px;
            padding: 20px 43px;
        }

        @include tablet {
            font-size: 24px;
            line-height: 1.2;
            margin-bottom: 32px;
            margin-left: auto;
            width: 434px;
            padding: 18px 38px;
        }

        @include desktop {
            margin-left: 563px;
        }
    }

    &__icon {
        display: block;
        width: 24px;
        height: 24px;
        fill: currentColor;
    }

    &__list {
        list-style-type: none;
            margin-top: 0;
            margin-bottom: 0;
            padding-left: 0;
    }

    &__box {
        @include tablet {
            display: flex;
            flex-wrap: wrap;
            gap: 80px;
        }

        @include desktop {
            gap: 159px;
        }
    }

    &__subdiscription {
        @extend .amenities__discription;

        @include tablet {
            width: 757px;
        }
    }

    &__discription-additional {
        @extend .amenities__discription;

        @include tablet {
            width: 450px;
        }

        @include desktop {
            width: 495px;
        }
    }

    &__box-third {
        @include tablet {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
        }

        @include  desktop {
            gap: 64px;
        }
    }
}


.link__amenities {
    text-decoration: none;
    font-family: 'Montserrat';

    font-weight: 500;
    line-height: 1.21;
    letter-spacing: 0.02em;
    color: $colorBrown;

    display: flex;
    align-items: center;

    @include mobimax {
        font-size: 12px;
        gap: 8px;
        margin-left: 16px;
    }

    @include mobile {
        margin-left: 16px;
        font-size: 16px;
        gap: 16px;
        white-space: nowrap;
    }

    @include tablet {

        font-size: 20px;
        line-height: 1.2;
        margin-left: 497px;
    }

    @include desktop {
        margin-left: 563px;
    }

    transition: color 250ms linear;

    &:hover,
    &:focus {
        color: $colorAccentYellow;
    }
}