<section class="amenities-for-2 section-hotel--lemon">
  <div class="amenities-for-2__container">
    <h2 class="amenities-for-2__title">Зручності у номері</h2>
    <p class="amenities-for-2__title-text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <ul class="amenities-for-2__items">
      <li class="amenities-for-2__box">
        <h3 class="amenities-for-2__subtitle">Загальні</h3>
        <div class="amenities-for-2__item-discription">
          <p class="amenities-for-2__discription">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
          <p class="amenities-for-2__text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
      </li>
      <li class="amenities-for-2__box">
        <h3 class="amenities-for-2__subtitle">Ванна кімната</h3>
        <div class="amenities-for-2__item-discription">
          <p class="amenities-for-2__discription">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
          <p class="amenities-for-2__text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
      </li>
      <li class="amenities-for-2__box">
        <h3 class="amenities-for-2__subtitle">Спальня</h3>
        <div class="amenities-for-2__item-discription">
          <p class="amenities-for-2__text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint.
          </p>
        </div>
      </li>
      <li class="amenities-for-2__box">
        <h3 class="amenities-for-2__subtitle">Кухня</h3>
        <div class="amenities-for-2__item-discription">
          <p class="amenities-for-2__discription">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint.
          </p>
          <p class="amenities-for-2__text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint.
          </p>
        </div>
      </li>
      <li class="amenities-for-2__box">
        <h3 class="amenities-for-2__subtitle">Медіа</h3>
        <div class="amenities-for-2__item-discription">
          <p class="amenities-for-2__text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit.
          </p>
        </div>
      </li>
    </ul>
    <button
      class="button amenities-for-2__button"
      type="button"
      data-modRoom-open
    >
      ОФОРМИТИ БРОНЮВАННЯ
    </button>
    <a class="amenities-for-2__link" href="./hotel.html"
      >Повернутися до перегляду номерів
      <svg class="amenities-for-2__icon" width="24" height="24">
        <use href="/src/images/sprite.svg#icon-cil_arrow-right32"></use>
      </svg>
    </a>
  </div>
</section>
