<section class="room-2-hero">
  <div class="room-2-hero__slider">
    <div class="fade room-2-hero__fade">
      <div>
        <picture>
          <source
            srcset="
              ./images/room/room-3-desk.jpg    1x,
              ./images/room/room-3-desk-2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/room/room-3-tab.jpg    1x,
              ./images/room/room-3-tab-2x.jpg 2x
            "
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              ./images/room/room-3-mob.jpg    1x,
              ./images/room/room-3-mob-2x.jpg 2x
            "
            media="(min-width: 414px)"
          />
          <img
            class="slider__img"
            src="./images/room/room-3-mob.jpg"
            width="100%"
            alt="Дизайн другої кімнати"
          />
        </picture>
      </div>
      <div>
        <picture>
          <source
            srcset="
              ./images/room/room-2-desk.jpg    1x,
              ./images/room/room-2-desk-2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/room/room-2-tab.jpg    1x,
              ./images/room/room-2-tab-2x.jpg 2x
            "
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              ./images/room/room-2-mob.jpg    1x,
              ./images/room/room-2-mob-2x.jpg 2x
            "
            media="(min-width: 414px)"
          />
          <img
            class="slider__img"
            src="./images/room/room-2-mob.jpg"
            width="100%"
            alt="Дизайн третьої кімнати"
          />
        </picture>
      </div>
      <div>
        <picture>
          <source
            srcset="
              ./images/room/room-1-desk.jpg    1x,
              ./images/room/room-1-desk-2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/room/room-1-tab.jpg    1x,
              ./images/room/room-1-tab-2x.jpg 2x
            "
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              ./images/room/room-1-mob.jpg    1x,
              ./images/room/room-1-mob-2x.jpg 2x
            "
            media="(min-width: 414px)"
          />
          <img
            class="slider__img"
            src="./images/room/room-1-mob.jpg"
            width="100%"
            alt="Дизайн першої кімнати"
          />
        </picture>
      </div>
    </div>
  </div>
  <div class="container room-2-hero__container">
    <div class="room-2-hero__wpap">
      <h2 class="room-2-hero__tittle">ДВОМІСНИЙ НОМЕР</h2>
      <p class="room-2-hero__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <a
        class="room-2-hero__map"
        href="https://goo.gl/maps/bBwFzgiCFPFPAu5Y6"
        target="_blank"
        rel="noopener noreferrer nofollow"
        ><svg class="room-2-hero-map__icon" width="12" height="20">
          <use href="./images/sprite.svg#icon-geo-marker12"></use></svg
        ><span class="map__adress"
          >Україна, м. Полтава,<br />
          вул. Маршала Бірюзова, 15</span
        ></a
      >
      <ul class="room-2-hero__social">
        <li class="room-2-hero__icon">
          <a
            href="https://www.instagram.com/"
            class="room-2-hero_soclink"
            target="blank"
            rel="noopener noreferrer nofollow"
          >
            <svg class="icon-social--room2" width="24" height="24">
              <use href="./images/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="room-2-hero__icon">
          <a
            href="https://www.facebook.com/"
            class="room-2-hero_soclink"
            target="blank"
            rel="noopener noreferrer nofollow"
          >
            <svg class="icon-social--room2" width="24" height="24">
              <use href="./images/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="room-2-hero__icon">
          <a
            href="https://web.telegram.org/"
            class="room-2-hero_soclink"
            target="blank"
            rel="noopener noreferrer nofollow"
          >
            <svg class="icon-social--room2" width="24" height="24">
              <use href="./images/sprite.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <button
      type="button"
      class="button room-2-hero__button"
      data-modPriceRoomFor2-open
    >
      Переглянути ціни
    </button>
  </div>
</section>
