<section class="about-our-rest">
  <div class="container">
    <h2 class="visually-hidden">About our restaurant</h2>
    <p class="about-rest__slogan">Amet minim mollit non</p>
    <h3 class="logo restaurant-logo">MIMIHO</h3>

    <div>
      <div class="rest-card">
        <p class="rest-card__description">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
        <picture class="rest-card__photo">
          <source
            srcset="
              ./images/main/about-restaurant/about-rest-1-desk.jpg    460w,
              ./images/main/about-restaurant/about-rest-1-desk-2x.jpg 920w
            "
            media="(min-width: 1280px)"
            sizes="(min-width: 1280px) 460px, 100vw"
          />
          <source
            srcset="
              ./images/main/about-restaurant/about-rest-1-tab.jpg    400w,
              ./images/main/about-restaurant/about-rest-1-tab-2x.jpg 800w
            "
            media="(min-width: 1024px)"
            sizes="(min-width: 1024px) 400px, 100vw"
          />
          <source
            srcset="
              ./images/main/about-restaurant/about-rest-1-mob.jpg    244w,
              ./images/main/about-restaurant/about-rest-1-mob-2x.jpg 488w
            "
            media="(min-width: 320px)"
            sizes="(min-width: 320px) 244px"
          />
          <img
            src="./images/main/about-restaurant/about-rest-1-mob.jpg"
            alt="порожня зала ресторану"
          />
        </picture>
      </div>

      <div class="rest-card">
        <picture class="rest-card__photo">
          <source
            srcset="
              ./images/main/about-restaurant/about-rest-2-desk.jpg    460w,
              ./images/main/about-restaurant/about-rest-2-desk-2x.jpg 920w
            "
            media="(min-width: 1280px)"
            sizes="(min-width: 1280px) 460px, 100vw"
          />
          <source
            srcset="
              ./images/main/about-restaurant/about-rest-2-tab.jpg    350w,
              ./images/main/about-restaurant/about-rest-2-tab-2x.jpg 700w
            "
            media="(min-width: 1024px)"
            sizes="(min-width: 1024px) 350px, 100vw"
          />
          <source
            srcset="
              ./images/main/about-restaurant/about-rest-2-mob.jpg    200w,
              ./images/main/about-restaurant/about-rest-2-mob-2x.jpg 400w
            "
            media="(min-width: 320px)"
            sizes="(min-width: 320px) 200px"
          />
          <img
            src="./images/main/about-restaurant/about-rest-2-mob.jpg"
            alt="порожній зал ресторану"
          />
        </picture>

        <p class="rest-card__description">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
    </div>

    <div class="rest-slider-box">
      <div class="rest-slider">
        <div class="rest-slide">
          <picture>
            <source
              srcset="
                ./images/sliders/slider-9-desk.jpg    254w,
                ./images/sliders/slider-9-desk-2x.jpg 508w
              "
              media="(min-width: 1280px)"
              sizes="(min-width: 1280px) 254px, 100vw"
            />
            <source
              srcset="
                ./images/sliders/slider-9-tab.jpg    194w,
                ./images/sliders/slider-9-tab-2x.jpg 388w
              "
              media="(min-width: 1024px)"
              sizes="(min-width: 1024px) 194px, 100vw"
            />
            <source
              srcset="
                ./images/sliders/slider-9-mob.jpg    245w,
                ./images/sliders/slider-9-mob-2x.jpg 490w
              "
              media="(min-width: 320px)"
              sizes="(min-width: 320px) 245px"
            />
            <img
              class="autoplay__photo"
              src="./images/sliders/slider-9-mob.jpg"
              alt="гарно сервірований стіл на вулиці"
            />
          </picture>
        </div>
        <div class="rest-slide">
          <picture>
            <source
              srcset="
                ./images/sliders/slider-15-desk.jpg    254w,
                ./images/sliders/slider-15-desk-2x.jpg 508w
              "
              media="(min-width: 1280px)"
              sizes="(min-width: 1280px) 254px, 100vw"
            />
            <source
              srcset="
                ./images/sliders/slider-15-tab.jpg    194w,
                ./images/sliders/slider-15-tab-2x.jpg 388w
              "
              media="(min-width: 1024px)"
              sizes="(min-width: 1024px) 194px, 100vw"
            />
            <source
              srcset="
                ./images/sliders/slider-15-mob.jpg    245w,
                ./images/sliders/slider-15-mob-2x.jpg 490w
              "
              media="(min-width: 320px)"
              sizes="(min-width: 320px) 245px"
            />
            <img
              class="autoplay__photo"
              src="./images/sliders/slider-15-mob.jpg"
              alt="сніданок у ліжко"
            />
          </picture>
        </div>
        <div class="rest-slide">
          <picture>
            <source
              srcset="
                ./images/main/about-restaurant/about-rest-3-desk.jpg    254w,
                ./images/main/about-restaurant/about-rest-3-desk-2x.jpg 508w
              "
              media="(min-width: 1280px)"
              sizes="(min-width: 1280px) 254px, 100vw"
            />
            <source
              srcset="
                ./images/main/about-restaurant/about-rest-3-tab.jpg    194w,
                ./images/main/about-restaurant/about-rest-3-tab-2x.jpg 388w
              "
              media="(min-width: 1024px)"
              sizes="(min-width: 1024px) 194px, 100vw"
            />
            <source
              srcset="
                ./images/main/about-restaurant/about-rest-3-mob.jpg    245w,
                ./images/main/about-restaurant/about-rest-3-mob-2x.jpg 490w
              "
              media="(min-width: 320px)"
              sizes="(min-width: 320px) 245px"
            />
            <img
              class="autoplay__photo"
              src="./images/main/about-restaurant/about-rest-3-mob.jpg"
              alt="Келих вина у руці"
            />
          </picture>
        </div>
        <div class="rest-slide">
          <picture>
            <source
              srcset="
                ./images/sliders/slider-7-desk.jpg    254w,
                ./images/sliders/slider-7-desk-2x.jpg 508w
              "
              media="(min-width: 1280px)"
              sizes="(min-width: 1280px) 254px, 100vw"
            />
            <source
              srcset="
                ./images/sliders/slider-7-tab.jpg    194w,
                ./images/sliders/slider-7-tab-2x.jpg 388w
              "
              media="(min-width: 1024px)"
              sizes="(min-width: 1024px) 194px, 100vw"
            />
            <source
              srcset="
                ./images/sliders/slider-7-mob.jpg    245w,
                ./images/sliders/slider-7-mob-2x.jpg 490w
              "
              media="(min-width: 320px)"
              sizes="(min-width: 320px) 245px"
            />
            <img
              class="autoplay__photo"
              src="./images/sliders/slider-7-mob.jpg"
              alt="устриці та шампанське"
            />
          </picture>
        </div>
        <div class="rest-slide">
          <picture>
            <source
              srcset="
                ./images/sliders/slider-16-desk.jpg    254w,
                ./images/sliders/slider-16-desk-2x.jpg 508w
              "
              media="(min-width: 1280px)"
              sizes="(min-width: 1280px) 254px, 100vw"
            />
            <source
              srcset="
                ./images/sliders/slider-16-tab.jpg    194w,
                ./images/sliders/slider-16-tab-2x.jpg 388w
              "
              media="(min-width: 1024px)"
              sizes="(min-width: 1024px) 194px, 100vw"
            />
            <source
              srcset="
                ./images/sliders/slider-16-mob.jpg    245w,
                ./images/sliders/slider-16-mob-2x.jpg 490w
              "
              media="(min-width: 320px)"
              sizes="(min-width: 320px) 245px"
            />
            <img
              class="autoplay__photo"
              src="./images/sliders/slider-16-mob.jpg"
              alt="мюслі з ягодами на столі"
            />
          </picture>
        </div>
      </div>
      <div class="slider-arrows"></div>
    </div>
  </div>
</section>
