<section class="contacts section--light">
  <div class="container contacts__container">
    <h2 class="contacts__title visually-hidden">Наші контакти</h2>
    <div class="contacts__wraper">
      <span class="logo contacts__logo color-adress--desktop">MIMIHO</span>
      <p class="contacts__text">Ресторанно-готельний комплекс</p>
      <address class="contacts__address">
        <ul class="contacts__list">
          <li class="contacts__item">
            <span id="contact-rest" class="contacts__name">Ресторан</span
            ><a
              class="contacts__phone color-adress--desktop"
              href="tel:+380955559533"
              ><svg class="phone__icon" width="12" height="20">
                <use href="./images/sprite.svg#icon-phone"></use></svg>095 555 95 33</a
            >
          </li>
          <li class="contacts__item contacts__item--hotel">
            <span id="contact-hotel" class="contacts__name">Готель</span>
            <div class="contacts__phone contacts__phone--twin">
              <a
                class="contacts__hotel-phone contacts__phone--first color-adress--desktop"
                href="tel:+380668491089"
                ><svg class="phone__icon" width="12" height="20">
                  <use href="./images/sprite.svg#icon-phone"></use></svg>066 849 10 89</a
              >
              <a
                class="contacts__hotel-phone color-adress--desktop"
                href="tel:+380672758540"
                >067 275 85 40</a
              >
            </div>
          </li>
          <li class="contacts__map">
            <a
              class="contacts__phone contacts__phone--map color-adress--desktop"
              href="https://goo.gl/maps/bBwFzgiCFPFPAu5Y6"
              target="_blank"
              rel="noopener noreferrer nofollow"
              ><svg class="contacts__icon" width="12" height="20">
                <use href="./images/sprite.svg#icon-geo-marker12"></use></svg><span class="map__text"
                >Україна, м. Полтава, вул. Маршала Бірюзова, 15</span
              ></a
            >
          </li>
        </ul>
      </address>
    </div>

    <iframe
      class="contacts__googlemap"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3559.0116541201005!2d34.5265463!3d49.59919399999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82601f34ac947%3A0xbb948724f7cf0b61!2sMimino%20Restaurant%20and%20Hotel%20Complex!5e1!3m2!1sen!2sua!4v1670759200576!5m2!1sen!2sua"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
</section>
