<section class="details-hotel section--dark">
  <div class="details-hotel__container container">
    <div class="details-hotel__wrap revers">
      <span class="logo details-hotel__logo">MIMIHO</span>
      <h2 class="details-hotel__title main-title">Готель</h2>
      <p class="details-hotel__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
    </div>
    <div class="detail-hotel__box">
      <div class="detail-hotel__slider variable-width">
        <div>
          <picture>
            <source
              srcset="
                ./images/main/details-hotel/details-hotel-3-desk.jpg    1x,
                ./images/main/details-hotel/details-hotel-3-desk-2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/main/details-hotel/details-hotel-3-tab.jpg    1x,
                ./images/main/details-hotel/details-hotel-3-tab-2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <source
              srcset="
                ./images/main/details-hotel/details-hotel-3-desk.jpg    1x,
                ./images/main/details-hotel/details-hotel-3-desk-2x.jpg 2x
              "
              media="(max-width: 1023px)"
            />
            <img
              src="./images/main/details-hotel/details-hotel-3-desk.jpg"
              alt="Рецепція"
            />
          </picture>
        </div>
        <div>
          <picture>
            <source
              srcset="
                ./images/main/details-hotel/details-hotel-2-desk.jpg    1x,
                ./images/main/details-hotel/details-hotel-2-desk-2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/main/details-hotel/details-hotel-2-tab.jpg    1x,
                ./images/main/details-hotel/details-hotel-2-tab-2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <source
              srcset="
                ./images/main/details-hotel/details-hotel-2-desk.jpg    1x,
                ./images/main/details-hotel/details-hotel-2-desk-2x.jpg 2x
              "
              media="(max-width: 1023px)"
            />
            <img
              src="./images/main/details-hotel/details-hotel-2-desk.jpg"
              alt="Їжа"
            />
          </picture>
        </div>
        <div>
          <picture>
            <source
              srcset="
                ./images/main/details-hotel/details-hotel-1-desk.jpg    1x,
                ./images/main/details-hotel/details-hotel-1-desk-2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/main/details-hotel/details-hotel-1-tab.jpg    1x,
                ./images/main/details-hotel/details-hotel-1-tab-2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <source
              srcset="
                ./images/main/details-hotel/details-hotel-1-mob.jpg    1x,
                ./images/main/details-hotel/details-hotel-1-mob-2x.jpg 2x
              "
              media="(max-width: 1023px)"
            />
            <img
              src="./images/main/details-hotel/details-hotel-1-desk.jpg"
              alt="Номер"
            />
          </picture>
        </div>
        <div>
          <picture>
            <source
              srcset="
                ./images/main/details-hotel/details-hotel-3-desk.jpg    1x,
                ./images/main/details-hotel/details-hotel-3-desk-2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/main/details-hotel/details-hotel-3-tab.jpg    1x,
                ./images/main/details-hotel/details-hotel-3-tab-2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <source
              srcset="
                ./images/main/details-hotel/details-hotel-3-desk.jpg    1x,
                ./images/main/details-hotel/details-hotel-3-desk-2x.jpg 2x
              "
              media="(max-width: 1023px)"
            />
            <img
              src="./images/main/details-hotel/details-hotel-3-desk.jpg"
              alt="Рецепція"
            />
          </picture>
        </div>
        <div>
          <picture>
            <source
              srcset="
                ./images/main/details-hotel/details-hotel-2-desk.jpg    1x,
                ./images/main/details-hotel/details-hotel-2-desk-2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/main/details-hotel/details-hotel-2-tab.jpg    1x,
                ./images/main/details-hotel/details-hotel-2-tab-2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <source
              srcset="
                ./images/main/details-hotel/details-hotel-2-desk.jpg    1x,
                ./images/main/details-hotel/details-hotel-2-desk-2x.jpg 2x
              "
              media="(max-width: 1023px)"
            />
            <img
              src="./images/main/details-hotel/details-hotel-2-desk.jpg"
              alt="Їжа"
            />
          </picture>
        </div>
        <div>
          <picture>
            <source
              srcset="
                ./images/main/details-hotel/details-hotel-1-desk.jpg    1x,
                ./images/main/details-hotel/details-hotel-1-desk-2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/main/details-hotel/details-hotel-1-tab.jpg    1x,
                ./images/main/details-hotel/details-hotel-1-tab-2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <source
              srcset="
                ./images/main/details-hotel/details-hotel-1-mob.jpg    1x,
                ./images/main/details-hotel/details-hotel-1-mob-2x.jpg 2x
              "
              media="(max-width: 1023px)"
            />
            <img
              src="./images/main/details-hotel/details-hotel-1-desk.jpg"
              alt="Номер"
            />
          </picture>
        </div>
        <div>
          <picture>
            <source
              srcset="
                ./images/main/details-hotel/details-hotel-3-desk.jpg    1x,
                ./images/main/details-hotel/details-hotel-3-desk-2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/main/details-hotel/details-hotel-3-tab.jpg    1x,
                ./images/main/details-hotel/details-hotel-3-tab-2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <source
              srcset="
                ./images/main/details-hotel/details-hotel-3-desk.jpg    1x,
                ./images/main/details-hotel/details-hotel-3-desk-2x.jpg 2x
              "
              media="(max-width: 1023px)"
            />
            <img
              src="./images/main/details-hotel/details-hotel-3-desk.jpg"
              alt="Рецепція"
            />
          </picture>
        </div>
        <div>
          <picture>
            <source
              srcset="
                ./images/main/details-hotel/details-hotel-2-desk.jpg    1x,
                ./images/main/details-hotel/details-hotel-2-desk-2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/main/details-hotel/details-hotel-2-tab.jpg    1x,
                ./images/main/details-hotel/details-hotel-2-tab-2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <source
              srcset="
                ./images/main/details-hotel/details-hotel-2-desk.jpg    1x,
                ./images/main/details-hotel/details-hotel-2-desk-2x.jpg 2x
              "
              media="(max-width: 1023px)"
            />
            <img
              src="./images/main/details-hotel/details-hotel-2-desk.jpg"
              alt="Їжа"
            />
          </picture>
        </div>
        <div>
          <picture>
            <source
              srcset="
                ./images/main/details-hotel/details-hotel-1-desk.jpg    1x,
                ./images/main/details-hotel/details-hotel-1-desk-2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/main/details-hotel/details-hotel-1-tab.jpg    1x,
                ./images/main/details-hotel/details-hotel-1-tab-2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <source
              srcset="
                ./images/main/details-hotel/details-hotel-1-mob.jpg    1x,
                ./images/main/details-hotel/details-hotel-1-mob-2x.jpg 2x
              "
              media="(max-width: 1023px)"
            />
            <img
              src="./images/main/details-hotel/details-hotel-1-desk.jpg"
              alt="Номер"
            />
          </picture>
        </div>
      </div>
      <div class="details-hotel__wrap-btn">
        <!-- Book Room Modal window -->
        <button
          type="button"
          class="btn btn--hotel-and-rest details-hotel__button"
          data-modDetRoom-open
        >
          Забронювати номер
        </button>
        <!-- Hotel Page -->
        <a
          class="btn btn--hotel-and-rest details-hotel__link"
          href="./hotel.html"
          >Переглянути ціни</a
        >
      </div>
    </div>
  </div>
</section>
