<footer class="footer ">
    <div class="container footer__container">
        <a href="./index.html" class="logo footer__logo">MIMIHO</a> 
        <div class="footer__wrapper-lists">
            <ul class="footer__menu list">
                <li class="footer__menu-item"><a class="footer__menu-link" href="./index.html">Головна</a> </li>
                <li class="footer__menu-item"><a class="footer__menu-link" href="./restaurant.html">Ресторан</a></li>
                <li class="footer__menu-item"><a class="footer__menu-link" href="./hotel.html">Готель</a></li>
            </ul>
            <ul class="footer__social list"> 
                <li>
                    <a class="footer__social-link link" href="https://www.instagram.com/"><span class="footer__social-name">Instagram</span> 
                        <svg class="icon-social__icon" width="24" height="24">
                            <use
                            href="./images/sprite.svg#icon-instagram"
                            ></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a class="footer__social-link link" href="https://www.facebook.com/"><span class="footer__social-name">Facebook</span> 
                        <svg class="icon-social__icon" width="24" height="24">
                            <use
                            href="./images/sprite.svg#icon-facebook"
                            ></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a class="footer__social-link link" href="https://web.telegram.org"><span class="footer__social-name">Telegram</span> 
                        <svg class="icon-social__icon" width="24" height="24">
                            <use
                            href="./images/sprite.svg#icon-telegram"
                            ></use>
                        </svg>
                    </a>
                </li> 
            </ul>
        </div>
    </div>  
</footer>