<header class="header">
<div class="container">
    <div class="header-wrap">
        <a href="./index.html" class="logo header-logo">MIMIHO</a>
    <nav class="site-nav">
        <ul class="site-nav__list list">
            <li class="site-nav__item">
                <ul class="site-nav__wrap">
                    <li><a href="./restaurant.html" class="site-nav__link link">Ресторан</a></li>
                    <li><ul class="site-nav__contact-wrap">
                        <li><a href="#contact-rest" class="site-nav__icon-link link">
                            <svg class="site-nav__icon" width="24" height="24">
                                <use href="./images/sprite.svg#icon-phone"></use>
                            </svg>
                        </a></li>
                        <li><a href="tel:+380955559533" class="site-nav__contact link">095 555 95 33</a></li>
                    </ul></li>
                </ul>
            </li>
            <li class="site-nav__item">
                <ul class="site-nav__wrap">
                    <li><a href="./hotel.html" class="site-nav__link link">Готель</a></li>
                    <li><ul class="site-nav__contact-wrap">
                        <li><a href="#contact-hotel"class="site-nav__icon-link link">
                            <svg class="site-nav__icon" width="24" height="24">
                                <use href="./images/sprite.svg#icon-phone"></use>
                            </svg>
                        </a></li>
                        <li><a href="tel:+380668491089" class="site-nav__contact link">066 849 10 89</a></li>
                        <li><a href="tel:+380672758540" class="site-nav__contact link">067 275 85 40</a></li>
                    </ul></li>
                </ul>
            </li>
        </ul>
    </nav>
    <ul class="cos__list list">
        <li class="soc__item">
            <a href="https://www.instagram.com/" class="soc__link link" target="_blank"
                  rel="noopener noreferrer nofollow">
                <svg class="soc__icon" width="24" height="24" >
                    <use href="./images/sprite.svg#icon-instagram"></use>
                </svg>
            </a>
        </li>
        <li class="soc__item">
            <a href="https://www.facebook.com/" class="soc__link link" target="_blank"
                  rel="noopener noreferrer nofollow">
                <svg class="soc__icon" width="24" height="24" >
                    <use href="./images/sprite.svg#icon-facebook"></use>
                </svg>
            </a>
        </li>
        <li class="soc__item">
            <a href="https://twitter.com/" class="soc__link link" target="_blank"
                  rel="noopener noreferrer nofollow">
                <svg class="soc__icon" width="24" height="24" >
                    <use href="./images/sprite.svg#icon-telegram"></use>
                </svg>
            </a>
        </li>
    </ul>
    </div>
    
</div>
</header>