<section class="hero hero-home">
  <div class="container">
    <h1 class="hero__title logo">MIMIHO</h1>
    <h2 class="hero__subtitle">Ресторанно-готельний комплекс</h2>
    <p class="hero__text">Смак життя 24/7</p>

    <div class="hero__end">
      <div class="hero__block">
        <a
          class="hero__contact"
          href="https://goo.gl/maps/bBwFzgiCFPFPAu5Y6"
          target="_blank"
          rel="noopener noreferrer nofollow"
          ><svg class="hero__icon" width="20" height="20">
            <use href="./images/sprite.svg#icon-geo-marker12"></use></svg
          ><span class="hero__address"
            >Україна, м. Полтава, <br />
            вул. Маршала Бірюзова, 15</span
          ></a
        >
      </div>

      <ul class="hero__bloc-btn">
        <li class="hero__btn item">
          <button type="button" class="btn" data-modTable-open>
            Забронювати столик
          </button>
        </li>
        <li class="hero__btn item">
          <button type="button" class="btn" data-modRoom-open>
            Забронювати номер
          </button>
        </li>
      </ul>
    </div>

    <ul class="hero__social">
      <li class="item hero__icon-soc">
        <a
          href="https://www.instagram.com/"
          target="blank"
          rel="noopener noreferrer nofollow"
          class="icon-social"
        >
          <svg class="hero__social-icon" width="24" height="24">
            <use href="./images/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="item hero__icon-soc">
        <a
          href="https://www.facebook.com/"
          target="blank"
          rel="noopener noreferrer nofollow"
          class="icon-social"
        >
          <svg class="hero__social-icon" width="24" height="24">
            <use href="./images/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="item hero__icon-soc">
        <a
          href="https://web.telegram.org/k/"
          target="blank"
          rel="noopener noreferrer nofollow"
          class="icon-social"
        >
          <svg class="hero__social-icon" width="24" height="24">
            <use href="./images/sprite.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
