<div class="backdrop" data-modal>
  <!-- is-hidden -->
  <div class="modal-price">
      <button type="button" class="modal-price__close" data-modal-close>
      <svg class="modal-price__close-icon" width="24" height="24">
          <use href="./images/sprite.svg#icon-close"></use>
          <!-- symbol-defs.svg#icon-close -->
      </svg>
      </button>
      <p class="modal-price__title price-form">ЦІНИ НА НОМЕР</p>
      <p class="modal-price__sub-title price-form">Двомісний люкс</p>
      
      <form class="modal-price__form">
        <p class="modal-price__text">Категорія номеру</p>
        <div class="wrapper-group">
          <div class="wrapper-input">
            <div class="modal-price__user-name modal-price__input-wrapper">
              <input
                type="number"
                id="number-cast"
                name="number-cast"
                class="modal-price__input"
                minlength="2"
                placeholder="1"
                required
              />
              <select name="number-cast" class="modal-price__select"></select>
  
            </div>
            <label for="number-cast" class="modal-price__label">Кількість ночей</label>
          </div>
  
          <div class="wrapper-input wrapper-last">
            <div class="modal-price__user-name modal-price__input-wrapper">
              <input
                type="number"
                id="number-cost"
                name="number-cost"
                class="modal-price__input"
                minlength="2"
                placeholder="1000"
                required
              />
              <select name="number-cost" class="modal-price__select"></select>
  
            </div>
            <label for="number-cost" class="modal-price__label">грн</label>
          </div>
        </div>

        
        <button type="submit" class="modal__btn">ЗАБРОНЮВАТИ НОМЕР</button>
      </form>
  </div>
</div>
