<div class="backdrop is-hidden" data-modPrice>
  <!-- is-hidden -->
  <div class="modal-price">
    <button type="button" class="modal-price__btn-close" data-modPrice-close>
      <svg class="modal-price__icon-close" width="24" height="24">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>

    <p class="modal-price__title">ЦІНИ НА НОМЕР</p>
    <!-- <p class="modal-price__sub-title">Двомісний люкс</p> -->

    <form class="form form__modal-price">
      <select
        name="numberCost"
        id="select-cast"
        class="modal-price__input modal-price__custom-select"
      >
        <option value="1500" selected>ДВОМІСНИЙ ЛЮКС</option>
        <option value="1300">ТРЬОХМІСНИЙ НОМЕР</option>
        <option value="1000">ДВОМІСНИЙ НОМЕР</option>
      </select>

      <p class="modal-price__text">Категорія номеру</p>
      <div class="container__form-price">
        <div class="wrapper-input">
          <div class="modal-price__input-wrap">
            <input
              type="number"
              id="numberCast"
              name="numberCast"
              class="modal-price__input input-cast"
              minlength="1"
              placeholder="1"
              min="1"
              pattern="^[0-9]"
              title="Must be number."
              value="1"
              required
            />
          </div>

          <label for="numberCast" class="modal-price__label-input"
            >Кількість ночей</label
          >
          <!-- <label for="select-cast" class="modal-price__label-select">Кількість ночей</label> -->
        </div>

        <!-- wrapper-input wrapper-last -->
        <div class="wrapper-input">
          <div class="modal-price__input-wrap">
            <input
              type="number"
              id="numberСost"
              name="numberСost"
              class="modal-price__input"
              minlength="3"
              placeholder="1000"
              min="100"
              value="1000"
              disabled
              required
            />
          </div>
          <label for="numberСost" class="modal-price__label">грн</label>
        </div>
      </div>

      <button type="submit" class="modal__btn">ЗАБРОНЮВАТИ НОМЕР</button>
    </form>
  </div>
</div>
