<section class="section-light">
    <div class="container">
        <p class="hotel-pre-title">Amet minim mollit non</p>
        <span class="logo">Mimiho</span>
        <h2 class="hotel-title">Двомісний номер</h2>
        <p class="hotel-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        <picture>
            <source srcset="/src/images/main/details-hotel/">
        </picture><img src="" alt="" width="">
        <a href="./room-for-2.html" class="about-hotel">Детальніше</a>
        <button type="button" class="btn" data-modal-open>Переглянути ціни</button>
        <div></div>
    </div>
</section>