<section class="room-for-3 section">
  <p class="room-for-3__pre-title">Amet minim mollit non</p>
  <a href="#" class="room-for-3__logo logo">MIMIHO</a>
  <h2 class="room-for-3__title">ТРЬОХМІСНИЙ НОМЕР</h2>
  <p class="room-for-3__after-title">
    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
    Velit officia consequat duis enim velit mollit. Exercitation veniam
    consequat sunt nostrud amet.
  </p>
  <ul class="room-for-3__list list">
    <li class="room-for-3__item">
      <picture>
        <source
          srcset="
            ./images/hotel/hotel-1-desk.jpg    1x,
            ./images/hotel/hotel-1-desk-2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/hotel/hotel-1-tab.jpg    1x,
            ./images/hotel/hotel-1-tab-2x.jpg 2x
          "
          media="(min-width: 1024px)"
        />
        <source
          srcset="
            ./images/hotel/hotel-1-mob.jpg    1x,
            ./images/hotel/hotel-1-mob-2x.jpg 2x
          "
          media="(min-width: 414px)"
        />
        <img
          src="./images/hotel/hotel-1-mob.jpg"
          alt="гостинна кімната"
          width="244"
          height="322"
        />
      </picture>
    </li>
    <li class="room-for-3__item">
      <picture>
        <source
          srcset="
            ./images/hotel/hotel-2-desk.jpg    1x,
            ./images/hotel/hotel-2-desk-2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/hotel/hotel-2-tab.jpg    1x,
            ./images/hotel/hotel-2-tab-2x.jpg 2x
          "
          media="(min-width: 1024px)"
        />
        <source
          srcset="
            ./images/hotel/hotel-2-mob.jpg    1x,
            ./images/hotel/hotel-2-mob-2x.jpg 2x
          "
          media="(min-width: 414px)"
        />
        <img
          src="./images/hotel/hotel-2-mob.jpg"
          alt="ванна кімната"
          width="194"
          height="194"
        />
      </picture>
    </li>
    <li class="room-for-3__item">
      <picture>
        <source
          srcset="
            ./images/hotel/hotel-3-desk.jpg    1x,
            ./images/hotel/hotel-3-desk-2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/hotel/hotel-3-tab.jpg    1x,
            ./images/hotel/hotel-3-tab-2x.jpg 2x
          "
          media="(min-width: 1024px)"
        />
        <source
          srcset="
            ./images/hotel/hotel-3-mob.jpg    1x,
            ./images/hotel/hotel-3-mob-2x.jpg 2x
          "
          media="(min-width: 414px)"
        />
        <img
          src="./images/hotel/hotel-3-mob.jpg"
          alt="краєвид з вікна"
          width="194"
          height="194"
        />
      </picture>
    </li>
  </ul>
  <a href="./details-hotel.html" class="room-for-3__details btn">Детальніше</a>
  <button type="button" class="room-for-3__btn-price btn">
    Переглянути ціни
  </button>
</section>
