<section class="room-section section-hotel section-hotel--lemon">
  <div class="container">
    <div class="hotel-wrap-top">
      <div class="room-wrap-top">
        <p class="pre-title">Amet minim mollit non</p>
        <span class="logo-dark room-logo">Mimiho</span>
        <h2 class="hotel-title room-title">Двомісний номер</h2>
        <p class="hotel-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <div class="room-wrap-center">
        <picture>
          <source
            srcset="
              ./images/hotel/hotel-1-desk.jpg    460w,
              ./images/hotel/hotel-1-desk-2x.jpg 920w
            "
            media="(min-width: 1280px)"
            sizes="(min-width: 1280px) 460px, 100vw"
          />
          <source
            srcset="
              ./images/hotel/hotel-1-tab.jpg    400w,
              ./images/hotel/hotel-1-tab-2x.jpg 800w
            "
            media="(min-width: 1024px)"
            sizes="(min-width: 1024px) 400px, 100vw"
          />
          <source
            srcset="
              ./images/hotel/hotel-1-mob.jpg    244w,
              ./images/hotel/hotel-1-mob-2x.jpg 492w
            "
            media="(max-width: 1023px)"
            sizes="(max-width: 1023px) 244px 100vw"
          />
          <img
            src="./images/hotel/hotel-1-mob.jpg"
            alt="фото номера в готелі"
          />
        </picture>
      </div>
    </div>
    <div class="hotel-wrap-bottom">
      <div class="room-slider-thumb">
        <!-- слайдер -->
        <div class="hotel-room-slider room-slider">
          <div>
            <picture
              ><source
                srcset="
                  ./images/hotel/hotel-2-desk.jpg    254w,
                  ./images/hotel/hotel-2-desk-2x.jpg 508w
                "
                media="(min-width: 1280px)"
                sizes="(min-width: 1280px) 254px, 100vw" />
              <source
                srcset="
                  ./images/hotel/hotel-2-tab.jpg    194w,
                  ./images/hotel/hotel-2-tab-2x.jpg 388w
                "
                media="(min-width: 1024px)"
                sizes="(min-width: 1024px) 194px, 100vw" />
              <source
                srcset="
                  ./images/hotel/hotel-2-tab.jpg    194w,
                  ./images/hotel/hotel-2-tab-2x.jpg 388w
                "
                media="(max-width: 1023px)"
                sizes="(max-width: 1023px) 194px, 100vw" />
              <img
                src="./images/hotel/hotel-2-mob.jpg"
                alt="чашка на підвіконні"
            /></picture>
          </div>
          <div>
            <picture
              ><source
                srcset="
                  ./images/hotel/hotel-3-desk.jpg    254w,
                  ./images/hotel/hotel-3-desk-2x.jpg 508w
                "
                media="(min-width: 1280px)"
                sizes="(min-width: 1280px) 254px, 100vw" />
              <source
                srcset="
                  ./images/hotel/hotel-3-tab.jpg    194w,
                  ./images/hotel/hotel-3-tab-2x.jpg 388w
                "
                media="(min-width: 1024px)"
                sizes="(min-width: 1024px) 194px, 388vw" />
              <source
                srcset="
                  ./images/hotel/hotel-3-tab.jpg    194w,
                  ./images/hotel/hotel-3-tab-2x.jpg 388w
                "
                media="(max-width: 1023px)"
                sizes="(max-width: 1023px) 194px, 100vw" />
              <img src="./images/hotel/hotel-3-mob.jpg" alt="біла раковина"
            /></picture>
          </div>
          <div>
            <picture
              ><source
                srcset="
                  ./images/sliders/slider-2-desk.jpg    254w,
                  ./images/sliders/slider-2-desk-2x.jpg 508w
                "
                media="(min-width: 1280px)"
                sizes="(min-width: 1280px) 254px, 100vw" />
              <source
                srcset="
                  ./images/sliders/slider-2-tab.jpg    194w,
                  ./images/sliders/slider-2-tab-2x.jpg 388w
                "
                media="(min-width: 1024px)"
                sizes="(min-width: 1024px) 194px, 100vw" />
              <source
                srcset="
                  ./images/sliders/slider-2-tab.jpg    194w,
                  ./images/sliders/slider-2-tab-2x.jpg 388w
                "
                media="(max-width: 1023px)"
                sizes="(max-width: 1023px) 194px, 100vw" />
              <img src="./images/sliders/slider-2-mob.jpg" alt="біла ванна"
            /></picture>
          </div>
          <div>
            <picture
              ><source
                srcset="
                  ./images/sliders/slider-4-desk.jpg    254w,
                  ./images/sliders/slider-4-desk-2x.jpg 508w
                "
                media="(min-width: 1280px)"
                sizes="(min-width: 1024px) 254px, 100vw" />
              <source
                srcset="
                  ./images/sliders/slider-4-tab.jpg    194w,
                  ./images/sliders/slider-4-tab-2x.jpg 388w
                "
                media="(min-width: 1024px)"
                sizes="(min-width: 1024px) 194px, 100vw" />
              <source
                srcset="
                  ./images/sliders/slider-4-tab.jpg    194w,
                  ./images/sliders/slider-4-tab-2x.jpg 388w
                "
                media="(max-width: 1023px)"
                sizes="(max-width: 1023px) 194px, 100vw" />
              <img
                src="./images/sliders/slider-4-mob.jpg"
                alt="білий умивальник"
            /></picture>
          </div>
          <div>
            <picture
              ><source
                srcset="
                  ./images/sliders/slider-10-desk.jpg    254w,
                  ./images/sliders/slider-10-desk-2x.jpg 508w
                "
                media="(min-width: 1280px)"
                sizes="(min-width: 1280px) 254px, 100vw" />
              <source
                srcset="
                  ./images/sliders/slider-10-tab.jpg    194w,
                  ./images/sliders/slider-10-tab-2x.jpg 388w
                "
                media="(min-width: 1024px)"
                sizes="(min-width: 1024px) 194px, 100vw" />
              <source
                srcset="
                  ./images/sliders/slider-10-tab.jpg    194w,
                  ./images/sliders/slider-10-tab-2x.jpg 388w
                "
                media="(max-width: 1023px)"
                sizes="(max-width: 1023px) 194px, 100vw" />
              <img
                src="./images/sliders/slider-10-mob.jpg"
                alt="крем та рушник"
            /></picture>
          </div>
          <div>
            <picture
              ><source
                srcset="
                  ./images/sliders/slider-12-desk.jpg    254w,
                  ./images/sliders/slider-12-desk-2x.jpg 508w
                "
                media="(min-width: 1280px)"
                sizes="(min-width: 1280px) 254px, 100vw" />
              <source
                srcset="
                  ./images/sliders/slider-12-tab.jpg    194w,
                  ./images/sliders/slider-12-tab-2x.jpg 388w
                "
                media="(min-width: 1024px)"
                sizes="(min-width: 1024px) 194px, 100vw" />
              <source
                srcset="
                  ./images/sliders/slider-12-tab.jpg    194w,
                  ./images/sliders/slider-12-tab-2x.jpg 388w
                "
                media="(max-width: 1023px)"
                sizes="(max-width: 1023px) 194px, 100vw" />
              <img src="./images/sliders/slider-12-mob.jpg" alt="біла раковина"
            /></picture>
          </div>
          <div>
            <picture
              ><source
                srcset="
                  ./images/sliders/slider-13-desk.jpg    254w,
                  ./images/sliders/slider-13-desk-2x.jpg 508w
                "
                media="(min-width: 1280px)"
                sizes="(min-width: 1280px) 254px, 100vw" />
              <source
                srcset="
                  ./images/sliders/slider-13-tab.jpg    194w,
                  ./images/sliders/slider-13-tab-2x.jpg 388w
                "
                media="(min-width: 1024px)"
                sizes="(min-width: 1024px) 194px, 100vw" />
              <source
                srcset="
                  ./images/sliders/slider-13-tab.jpg    194w,
                  ./images/sliders/slider-13-tab-2x.jpg 388w
                "
                media="(max-width: 1023px)"
                sizes="(max-width: 1023px) 194px, 100vw" />
              <img src="./images/sliders/slider-13-mob.jpg" alt="сіра раковина"
            /></picture>
          </div>
        </div>

        <!-- стрілки слайдера -->

        <div class="room-svg">
          <svg class="room-svg-left prev" width="32" height="32">
            <use href="./images/sprite.svg#icon-cil_arrow-left32"></use>
          </svg>
          <svg class="room-svg-right next" width="32" height="32">
            <use href="./images/sprite.svg#icon-cil_arrow-right32"></use>
          </svg>
        </div>
      </div>

      <!-- ----- блок кнопок -->

      <div class="room-wrap-bottom">
        <a href="./room-for-2.html" class="btn btn--hotel-and-rest hotel-link"
          >Детальніше</a
        >
        <button
          type="button"
          class="btn btn--hotel-and-rest"
          data-modPrice2r-open
        >
          Переглянути ціни
        </button>
      </div>
    </div>
  </div>
</section>
