<section class="room-luxe section-hotel">
  <div class="room-luxe__container container">
    <div class="room-luxe__data">
      <p class="room-luxe__pre-title">Amet minim mollit non</p>

      <span class="room-luxe__logo logo">MIMIHO</span>

      <h2 class="room-luxe__title hotel-title">
        <span>Двомісний номер</span> Люкс
      </h2>
      <p class="room-luxe__description">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>

    <div class="room-luxe__image-wrap">
      <picture>
        <source
          srcset="
            ./images/hotel/hotel-1-desk.jpg    1x,
            ./images/hotel/hotel-1-desk-2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/hotel/hotel-1-tab.jpg    1x,
            ./images/hotel/hotel-1-tab-2x.jpg 2x
          "
          media="(min-width: 1024px)"
        />
        <source
          srcset="
            ./images/hotel/hotel-1-mob.jpg    1x,
            ./images/hotel/hotel-1-mob-2x.jpg 2x
          "
          media="(min-width: 320px)"
        />
        <img
          class="room-luxe__image"
          src="./images/hotel/hotel-1-desk.jpg"
          alt="Номер готеля"
          sizes="(min-width: 1280px) 460px, (min-width: 1024px) 400px, 246px"
        />
      </picture>
    </div>

    <div class="room_luxe__thumb">
      <div class="room-luxe__slider variable-width">
        <div>
          <picture
            ><source
              srcset="
                ./images/hotel/hotel-2-desk.jpg    1x,
                ./images/hotel/hotel-2-desk-2x.jpg 2x
              "
              media="(min-width: 1280px)" />
            <source
              srcset="
                ./images/hotel/hotel-2-tab.jpg    1x,
                ./images/hotel/hotel-2-tab-2x.jpg 2x
              "
              media="(min-width: 1024px)" />
            <source
              srcset="
                ./images/hotel/hotel-2-tab.jpg    1x,
                ./images/hotel/hotel-2-tab-2x.jpg 2x
              "
              media="(max-width: 1023px)" />
            <img
              src="./images/hotel/hotel-2-mob.jpg"
              alt="біла ванна"
              sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, 194px"
          /></picture>
        </div>
        <div>
          <picture
            ><source
              srcset="
                ./images/hotel/hotel-3-desk.jpg    1x,
                ./images/hotel/hotel-3-desk-2x.jpg 2x
              "
              media="(min-width: 1280px)" />
            <source
              srcset="
                ./images/hotel/hotel-3-tab.jpg    1x,
                ./images/hotel/hotel-3-tab-2x.jpg 2x
              "
              media="(min-width: 1024px)" />
            <source
              srcset="
                ./images/hotel/hotel-3-tab.jpg    1x,
                ./images/hotel/hotel-3-tab-2x.jpg 2x
              "
              media="(max-width: 1023px)" />
            <img
              src="./images/hotel/hotel-3-mob.jpg"
              alt="біла ванна"
              sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, 194px"
          /></picture>
        </div>
        <div>
          <picture
            ><source
              srcset="
                ./images/sliders/slider-2-desk.jpg    1x,
                ./images/sliders/slider-2-desk-2x.jpg 2x
              "
              media="(min-width: 1280px)" />
            <source
              srcset="
                ./images/sliders/slider-2-tab.jpg    1x,
                ./images/sliders/slider-2-tab-2x.jpg 2x
              "
              media="(min-width: 1024px)" />
            <source
              srcset="
                ./images/sliders/slider-2-tab.jpg    1x,
                ./images/sliders/slider-2-tab-2x.jpg 2x
              "
              media="(max-width: 1023px)" />
            <img
              src="./images/sliders/slider-2-mob.jpg"
              alt="біла ванна"
              sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, 194px"
          /></picture>
        </div>
        <div>
          <picture
            ><source
              srcset="
                ./images/sliders/slider-4-desk.jpg    1x,
                ./images/sliders/slider-4-desk-2x.jpg 2x
              "
              media="(min-width: 1280px)" />
            <source
              srcset="
                ./images/sliders/slider-4-tab.jpg    1x,
                ./images/sliders/slider-4-tab-2x.jpg 2x
              "
              media="(min-width: 1024px)" />
            <source
              srcset="
                ./images/sliders/slider-4-tab.jpg    1x,
                ./images/sliders/slider-4-tab-2x.jpg 2x
              "
              media="(max-width: 1023px)" />
            <img
              src="./images/sliders/slider-4-mob.jpg"
              alt="білий умивальник"
              sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, 194px"
          /></picture>
        </div>
        <div>
          <picture
            ><source
              srcset="
                ./images/sliders/slider-10-desk.jpg    1x,
                ./images/sliders/slider-10-desk-2x.jpg 2x
              "
              media="(min-width: 1280px)" />
            <source
              srcset="
                ./images/sliders/slider-10-tab.jpg    1x,
                ./images/sliders/slider-10-tab-2x.jpg 2x
              "
              media="(min-width: 1024px)" />
            <source
              srcset="
                ./images/sliders/slider-10-tab.jpg    1x,
                ./images/sliders/slider-10-tab-2x.jpg 2x
              "
              media="(max-width: 1023px)" />
            <img
              src="./images/sliders/slider-10-mob.jpg"
              alt="крем та рушник"
              sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, 194px"
          /></picture>
        </div>
        <div>
          <picture
            ><source
              srcset="
                ./images/sliders/slider-12-desk.jpg    1x,
                ./images/sliders/slider-12-desk-2x.jpg 2x
              "
              media="(min-width: 1280px)" />
            <source
              srcset="
                ./images/sliders/slider-12-tab.jpg    1x,
                ./images/sliders/slider-12-tab-2x.jpg 2x
              "
              media="(min-width: 1024px)" />
            <source
              srcset="
                ./images/sliders/slider-12-tab.jpg    1x,
                ./images/sliders/slider-12-tab-2x.jpg 2x
              "
              media="(max-width: 1023px)" />
            <img
              src="./images/sliders/slider-12-mob.jpg"
              alt="біла раковина"
              sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, 194px"
          /></picture>
        </div>
        <div>
          <picture
            ><source
              srcset="
                ./images/sliders/slider-13-desk.jpg    1x,
                ./images/sliders/slider-13-desk-2x.jpg 2x
              "
              media="(min-width: 1280px)" />
            <source
              srcset="
                ./images/sliders/slider-13-tab.jpg    1x,
                ./images/sliders/slider-13-tab-2x.jpg 2x
              "
              media="(min-width: 1024px)" />
            <source
              srcset="
                ./images/sliders/slider-13-tab.jpg    1x,
                ./images/sliders/slider-13-tab-2x.jpg 2x
              "
              media="(max-width: 1023px)" />
            <img
              src="./images/sliders/slider-13-mob.jpg"
              alt="сіра раковина"
              sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, 194px"
          /></picture>
        </div>
      </div>
    </div>

    <div class="room-luxe__button-wrap">
      <a
        href="./room-luxe.html"
        class="room-luxe__button btn btn--hotel-and-rest"
        >Детальніше</a
      >
      <button
        type="button"
        class="room-luxe__button btn btn--hotel-and-rest"
        data-modPriceLuxe-open
      >
        Переглянути ціни
      </button>
    </div>
  </div>
</section>
