
// КНОПКИ ОСНОВНИХ СЕКЦІЙ 

.btn {
  width: 236px;
  height: 48px;

  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 16px;
  line-height: calc(20/16);
  letter-spacing: 0.02em;
  
  color: $colorAccentYellow;
  background: rgba(0, 0, 0, 0.4);
  border: 2px solid $colorBtnWhite;
  border-radius: 25px;

  &:hover,
  &:focus {
    background: $colorBtnWhite;
  }

  &--hotel-and-rest {
    background: $colorBtnBlack;

  &:hover,
  &:focus {
    border: 2px solid $colorAccentYellow;
  }
  }
}

// КНОПКИ "ОФОРМИТИ БРОНЮВАННЯ"

.button {
  width: 100%;
  height: 64px;

  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24/20);
  text-transform: uppercase;
  
  color: $colorBtnWhite;
  background: $colorBtnBlack;
  border: 1px solid $colorAccentYellow;
  border-radius: 25px;

  &:hover,
  &:focus {
    color: $colorBtnBlack;
    background: $colorAccentYellow;
  }

  @include mobile {
    width: 384px;
  }

  @include tablet {
    width: 434px;
    font-size: 24px;
  }
}

// КНОПКИ ДЛЯ МОДАЛКИ

.modal__btn {
  
  display: inline-block;
  width: 100%;
  height: 64px;
  padding: 0;
  
  font-family: 'Montserrat';
  font-weight: 500;
  text-transform: uppercase;
  font-size: 20px;
  line-height: calc(24/20);
    
  color: $colorBtnWhite;
  background: $colorBtnBlack;
  border: 1px solid $colorAccentYellow;
  border-radius: 2px;
    
  &:hover,
  &:focus {
    color: $colorBtnBlack;
    background: $colorAccentYellow;
  }

  @include mobile {
    width: 384px;
    
  }

  @include tablet {
    width: 592px;
    font-size: 24px;
  }
}