.container {
  margin: 0 auto;
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;

  @include mobile {
    max-width: 414px;
  }

  @include tablet {
    max-width: 1024px;
    padding-left: 47px;
    padding-right: 47px;
  }

  @include desktop {
    max-width: 1280px;
    padding-left: 85px;
    padding-right: 85px;
  }
}
