.logo {
  display: inline-block;
  margin-right: -0.3em;
  font-family: 'Film P3', sans-serif;
  @include font(700, 40px, 1.08, 0.3em);
  color: $colorLogoWhite;
}

.logo-dark {
  font-family: 'Film P3';
  text-transform: uppercase;
  @include font(700, 40px, 1.08, 0.3em);
  color: $colorLogoGray;
}

.logo-accent {
  font-family: 'Film P3';
  text-transform: uppercase;
  @include font(700, 40px, 1.08, 0.3em);
  color: $colorAccentYellow;
}
