// SECTION FOR MAIN PAGE

.section--light {
  padding-top: 18px;
  padding-bottom: 72px;
  background-color: $colorBgLemon;

  @include tablet {
    padding-top: 120px;
    padding-bottom: 96px;
  }
  @include desktop {
    padding-bottom: 118px;
  }
}

.section--dark {
  padding-top: 24px;
  padding-bottom: 40px;

  @include tablet {
    padding-top: 48px;
    padding-bottom: 96px;
  }
}

// SECTION FOR HOTEL PAGE

.section-hotel {
  padding-top: 32px;
  padding-bottom: 32px;

  @include tablet {
    padding-top: 64px;
    padding-bottom: 47px;
  }

  @include desktop {
    padding-top: 72px;
    padding-bottom: 48px;
  }

  &--lemon {
    background-color: $colorBgLemon;
  }
  &--dark-lemon {
    background-color: $colorBgDarkLemon;
  }
}
