.details-hotel {
    background-color: $colorBlack;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
      ),
      url(../images/main/details-hotel/details-hotel-bg-mob.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @include retina {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.7),
          rgba(0, 0, 0, 0.7)
        ),
        url(../images/main/details-hotel/details-hotel-bg-mob-2x.jpg);
    }
    @include tablet {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.7),
          rgba(0, 0, 0, 0.7)
        ),
        url(../images/main/details-hotel/details-hotel-bg-tab.jpg);
  
      @include retina {
        background-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)
          ),
          url(../images/main/details-hotel/details-hotel-bg-tab-2x.jpg);
      }
    }
    @include desktop {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.7),
          rgba(0, 0, 0, 0.7)
        ),
        url(../images/main/details-hotel/details-hotel-bg-desk.jpg);
  
      @include retina {
        background-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)
          ),
          url(../images/main/details-hotel/details-hotel-bg-desk-2x.jpg);
      }
    }
  }
  
  .details-hotel__wrap {
    max-width: 260px;
    // margin-left: auto;
    // display: flex;
    // justify-content: flex-end;
    // flex-direction: column;
    // align-items: end;
    // align-content: flex-end;
    margin-bottom: 48px;
    // margin-left: 32px;
    padding-left: 17px;
    @include tablet {
      // margin-left: 90px;
      // width: 610px;
      max-width: 699px;
      padding-left: 150px;
    }
    @include desktop {
      // margin-left: 250px;
      max-width: 890px;
      padding-left: 295px;
    }
  }

  .details-hotel__container {
    padding-left: 52px;
    padding-right: 52px;
  }

  // .menu.revers {
  //   flex-direction: row-reverse;
  // }

  .details-hotel__logo {
    display: block;
    text-align: right;
    margin-bottom: 12px;
    position: relative;
    right: -0.3em;
    @include tablet {
      margin-bottom: 16px;
    }
  }

  .details-hotel__title {
    // display: block;
    text-align: right;
    margin-bottom: 20px;
    // padding-right: 12px;
    @include tablet {
      margin-bottom: 8px;
      // padding-right: 9px;
    }
  }

  // .details-hotel__title {
  //   padding-left: 15px;
  // }

  .details-hotel__text {
    // display: block;
    // width: 259px;
    // font-family: 'Montserrat';
    // font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: $colorTextHotel;
    @include tablet {
      // width: 610px;
      font-size: 16px;
    }
  }
  
  .details-hotel__wrap-btn {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
    gap: 16px;
  }
  .details-hotel__link {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  
  .details-hotel__button {
    display: block;
    margin: 0 auto;
  }
  
  .detail-hotel__slider {
    overflow: hidden;
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0 0 -64px 0;
    padding: 0 0 64px 0;
  
    @include mobilemax {
      margin: 0 0 0 0;
      padding: 0 0 80px 0;
    }
  }
  
  .detail-hotel__box {
    @include tablet {
      display: flex;
      gap: 34px;
      // flex-direction: column;
      flex-wrap: nowrap;
      align-items: flex-end;
    }
  }
  
  .slick-slide {
    overflow: hidden;
  }
  
  .slick-arrow {
    top: auto;
    bottom: -16px;
    width: 32px;
    height: 32px;
  
    @include mobilemax {
      bottom: 10px;
    }
  }
  
  .slick-prev {
    left: 0;
    @include tablet {
      transform: translate(1725%, -50%);
    }
    // transform: translate(1700%, -50%);
  }
  
  .slick-next {
    left: 64px;
    @include tablet {
      transform: translate(1725%, -50%);
    }
    // transform: translate(1700%, -50%);
  }
  
  .slick-next:before,
  .slick-prev:before {
    display: flex;
    width: 32px;
    height: 32px;
    font-size: 0;
    line-height: 0;
  }
  
  .slick-next:before {
    background: url('../images/vector-right.svg') no-repeat 0 0 / 32px 32px;
  }
  
  .slick-prev:before {
    background: url('../images/vector-left.svg') no-repeat 0 0 / 32px 32px;
  }
  
  .slick-track {
    display: flex;
    gap: 20px;
    @media screen and (min-width: 1024px) {
      gap: 32px;
    }
    @media screen and (min-width: 1280px) {
      gap: 88px;
    }
  }

  .slick-list {
    min-width: 870px !important;
  }
  
  .slick-prev, .slick-next {

  }