.footer {
    padding: 40px 0px;
    width: 100%;
    background-color: $colorBgFooter;
    color: $colorAccentYellow;
    @include tablet{
        padding: 80px 0px;
    }
}
.footer__container{
    display: flex;
    
}
.footer__wrapper-lists {
    display: flex;
    flex-direction: column;
    gap: 32px;
    @include tablet {
        flex-direction: row;
        width: 50%;
    }
}

.footer__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 66%;
    @include tablet {
        width: 50%;
        font-size: 64px;
        line-height: 1.08;
    }

}

.footer__menu {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-family: 'Montserrat';
    & a {
        color: inherit;
    }
    @include font (500, 20px, 1.2, .02);
    @include tablet {
        width: 50%;
        margin-left: 8px;
    }
}

.footer__social{
display: flex;
gap: 20px;
// padding-right: 30px;
@include tablet {
    flex-direction: column-reverse;
    margin-left: 8px;
    gap: 12px;
}
}

.icon-social__footer {
    @include tablet{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 143px;
        height: 40px;
        border: .5px solid $colorAccentYellow;
        border-radius: 2px;

    }
}

.icon-social__title {
    display: none;
    font-weight: 400;
    line-height: 1.25;
    color: $colorAccentYellow;
    @include tablet {
        display: inline-block;
        padding-left: 12px;
    }
}
.icon-social__thumb{
    display: flex;
    @include tablet {
        padding-right: 12px;
    }
}
.icon-social__icon {
    fill: $colorAccentYellow;

}
