.header {
    background-color: #383535;
    height: 64px;
    padding-top: 16px;
    padding-bottom: 9px;

    @include tablet {
        height: 100px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

.header-wrap {
    display: flex;
    align-items: center;
}

.header-logo {
    display: block;
    font-family: 'Film P3', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.08;
    letter-spacing: 0.3em;

    // margin-right: 52px;

    color: $colorLogoWhite;

    @include tablet {
        font-size: 40px;
        line-height: 1.1;
    }
}

.site-nav {
   
}
.site-nav__list {
    display: flex;
    // gap: 26px;

    @include tablet {
        gap: 72px;
    }
}

.site-nav__item {
    
}

.site-nav__wrap {
    display: flex;
    align-items: center;
    gap: 12px;

    @include tablet {
        gap: 32px;
    }
    
}
.site-nav__link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: $colorAccentYellow;

    @include tablet {
        font-size: 20px;
        line-height: 1.2;

    }
}

.site-nav__contact-wrap {
    display: flex;
    align-items: center;
    gap: 15px;
    
    @include tablet {
        padding: 10px 8px 10px 14px;
        border: 1px solid rgba(243, 198, 83, 0.7);
        border-radius: 2px;
    }
}



.site-nav__contact {
    display: none;

    @include tablet 
    {   display: block;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.21;
        letter-spacing: 0.02em;
        color: $colorLogoWhite;}

    
}

.site-nav__icon {
    fill: $colorAccentYellow;
    width: 12px;
    height: 20px;
}

.cos__list {
display: none;

@include desktop {
    display: flex;
    align-items: center;
    gap: 23px;
}
}

.soc__item {
}
.soc__link {
    display: block;
}
.soc__icon {
    fill: rgba(243, 198, 83, 0.7);
}